.sup-container {
    width: 30%;
    text-align: center;
}

.sup-container:hover {
    width: 30%;
    border: solid 1px;
    background-color: #c5d9f9;
}

.sup-header {
    margin: 0 5px 0 5px;
}

.sup-content {
    margin: 5px 5px 5px 5px;
}

